[submodule "runtime/ac-library"]
	path = runtime/ac-library
	url = https://github.com/atcoder/ac-library.git
	branch = tags/v1.4
[submodule "examples/data/jikka-judge-problems"]
	path = examples/data/jikka-judge-problems
	url = https://github.com/kmyk/jikka-judge-problems
[submodule "examples/data/library-checker-problems"]
	path = examples/data/library-checker-problems
	url = https://github.com/yosupo06/library-checker-problems
