docs/gh-pages/gallery/data.json

.stack-work/

# Include .cabal file because FP Complete recommends to do so. See https://www.fpcomplete.com/blog/storing-generated-cabal-files/
# *.cabal

# For Prettier
node_modules/
package-lock.json
yarn.lock
